:root {
  --white: #fff;
  --black: #000;
  --color-btn-comprar: #B31111;
  --color-background-book: #171718;
  --color-netflix: #DF101D;
  --color-footer: #181818;
  --color-veronica: #FF2D16;
  --color-texts: #E50914;
  --color-best-sellers: #333333;
  --color-arrows-disable: #6E6E6E;
  --color-background-books: #333333;
}


