/* .poster__serie{
  max-width: 100%;
} */
section.read__before{
  position: relative;
  background: #131514;
}
.selo{
  position: absolute;
  right: 190px;
  bottom: 30px;
}

.selo img {
  max-width: 208px;
  width: 100%;
}



@media(max-width: 768px){
  .selo{
    position: absolute;
    right: 30px;
    bottom: 10px;
  }
  
  .selo img {
    max-width: 78px;
    width: 100%;
  }
}

