.serie{
  background: var(--color-background-book);
  color: var(--white);
  padding: 70px;
}

.serie h2 {
  font-size: 96px;
  font-family: 'Roboto', sans-serifcx;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 90px;
}
.serie p {
  font-size: 50px;
  font-family: 'Roboto', sans-serifcx;
  font-weight: 300;
  line-height: 50px;
}

img.poster {
  max-width: 690px;
  width: 100%;
}

.btns button:nth-child(1){
  margin: 0px 0 0 0px;
}
.btns button{
  font-family: 'Montserrat', sans-serif;
  max-width: 136px;
  height: 44px;
  width: 100%;
  display: block;
  color: var(--white);
  border-radius: 10px;
  text-transform: uppercase;
  font-size: 14px;
  margin: 0px 0 0 20px;
}

.btn-detalhes{
  background: transparent;
  border: 1px solid var(--white);
  
}

.comprar{
  background: var(--color-btn-comprar);
  border: none;
}


@media(max-width: 768px){
  .serie{
    padding: 40px 100px;
  }
  .serie h2{
    font-size: 46px;
    line-height: 60px;
  }
  .serie p{
    font-size: 30px;
    line-height: 25px;
  }
  .btns.d-flex {
    flex-direction: column;
  }
  .btns button.btn-detalhes {
    margin-bottom: 25px;
    display: block;
  }
  .btns button.comprar {
    margin-bottom: 25px;
    display: block;
  }
  .btns button{
    max-width: 100%;
    margin: 10px 0 !important;
  }
}



@media(max-width: 425px){
  .serie h2 {
    font-size: 36px;
    line-height: 1;
  }
  .serie p {
    font-size: 14px;
    line-height: 16px;
  }
  .serie {
    padding: 40px 80px;
  }
}

